* {
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.image-product {
  width: 200px;
  height: 200px;
}
.price {
  font-weight: bold;
}
.product-details {
  font-weight: bold;
}
article {
  border: 5px solid rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 825px;
}

header h1 {
  background-color: gainsboro;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  margin-top: 0;
}
.price {
  font-weight: bold;
  font-size: 20px;
}
.ship {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 20px;
}
.item-info {
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.inforamtion-link {
  color: black;
}
.inforamtion-link:hover {
  text-decoration: none;
}
.add-button {
  color: white;
  background-color: black;
  border: none;
  width: 100%;
  height: 50px;
}
.add-button:hover {
  color: black;
  background-color: rgb(255, 255, 255);
  border-top: 4px solid black;
}

.details-list {
  list-style: square;
}
.details-list-item {
  margin: 10px;
  cursor: pointer;
}
h1 {
  position: relative;
}
h1::after {
  padding: 10px;
  content: "SALE";
  background-color: red;
  color: white;
  font-size: 15px;
  position: absolute;
  left: -25px;
  top: -15px;
  letter-spacing: 1px;
  font-weight: bold;
}
.color-picker {
  width: 100%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.color-picker div {
  display: inline-block;
  margin-right: 10px;
}
